SESSION_ID="levanter_892986ceca93040c29b2bd32c8652422b"
VPS="true"
AUTO_UPDATE="true"
PREFIX="."
DATABASE_URL="postgresql://humbletechnology01_g:WeOtWIvDd9HrFJtIz2XRPA@sea-moth-7870.g8z.gcp-us-east1.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full" 
